.title-highlight {
  color: #228B22;
  text-decoration: none;
}

.title-container {
  width: 70%;
  margin: 0 auto;
}

.title {
  width: 65%;
  font-size: 2.6rem;
  font-family: 'Work Sans',Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 80px;
}

.positions {
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-columns: auto auto;
  font-size: 1.2rem;
  width: 75%;
  color: grey;
  text-transform: uppercase;
}

.current-position > p {
  font-size: 0.95rem;
  color: black;
  width: 45%;
}

.previous-position > div > a > img{
  transition: transform .2s;
}
.previous-position > div > a > img:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); 
}
